@use "sass:list";
@use "sass:math";
@use "sass:string";
@use "sass:map";
@use 'config' as *;

// The default config is used if the $config map is not overwritten
$config: $defaultConfig !default;

// Use this function to access the config
//
// @param {Arglist} $keys - Key chain
// @return {*} - Desired value
@function config($keys...) {
  $value: $config;
  @each $key in $keys {
    @if null == map-get($value, $key) {
      @return null;
    } @else {
      $value: map-get($value, $key);
    }
  }
  @return $value;
}

// Returns a config value, the namespace should be using dots
// ex: typography.font-families.base
//
// @return {null|list}
@function conf($namespace, $default: null) {
  $elements: explode($namespace, '.');
  @if ($elements) {
    @return config($elements...);
  }
  @return $default;
}

// Returns a color from the palette based on the specified variant
// The default (base) variant is 500
//
// @param  {string} $colorName
// @param  {string} $variantName
// @return {string} Hex color
@function get-color($colorName, $variantName: '500') {
  $colorHex: config('colors', 'palette', $colorName);
  $variantPercent: config('colors', 'variants', $variantName);

  $colorName: nth(string.split($colorName, ":"), 1);
  // @debug(nth(string.split($colorName, ":"), 1));

  @if not $colorHex {
    @error "Unknown color `#{$colorName}` in the configuration.";
  }

  @if not $variantPercent {
    @error "Unknown variant `#{$variantName}` in the configuration.";
  }

  @if($variantPercent == 0) {
    @return $colorHex;
  }

  @if($variantPercent > 0) {
    @return mix(white, $colorHex, (percentage(math.div($variantPercent, 100))));
  }

  @return mix(black, $colorHex, (percentage(math.div($variantPercent, -100))));
}

// Get the previous element from a map by using the key of the current element
//
// @param  {integer} $key
// @param  {map} $map
// @return {integer} The key of the previous element
@function map-get-prev($key, $map) {

  $keys: map-keys($map);
  $index: index($keys, $key) - 1;

  @if($index == 0) {
    @return $key;
  }

  @return nth($keys, $index);
}

// Convert pixels to ems
//
// @param  {px} $pixels
// @param  {number} $base:  16
// @return {em}
@function pxtoem($pixels, $base: 16) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }

  @if (unitless($base)) {
    $base: $base * 1px;
  }

  @return math.div($pixels, $base) * 1em;
}

/// Remove the unit of a length
///
/// @param  {Number} $number - Number to remove unit from
/// @return {Number} - Unitless number
@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return math.div($number, ($number * 0 + 1));
  }

  @return $number;
}

// Prepend to list
//
// @param {List} $list
// @param {Mixed} $value
// @return {List}
@function prepend($list, $value) {
  @return join($value, $list);
}

// Get the first key from the list
//
// @return {integer}
@function first($list) {
  @return nth($list, 1);
}

// Get the last key from the list
//
// @return {integer}
@function last($list) {
  @return nth($list, length($list));
}

// @return {boolean}
@function is-number($value) {
  @return type-of($value) == 'number';
}

// @return {boolean}
@function is-time($value) {
  @return is-number($value) and index('ms' 's', unit($value)) != null;
}

// @return {boolean}
@function is-duration($value) {
  @return is-time($value);
}

// @return {boolean}
@function is-angle($value) {
  @return is-number($value) and index('deg' 'rad' 'grad' 'turn', unit($value)) != null;
}

// @return {boolean}
@function is-frequency($value) {
  @return is-number($value) and index('Hz' 'kHz', unit($value)) != null;
}

// @return {boolean}
@function is-integer($value) {
  @return is-number($value) and round($value) == $value;
}

// @return {boolean}
@function is-relative-length($value) {
  @return is-number($value) and index('em' 'ex' 'ch' 'rem' 'vw' 'vh' 'vmin' 'vmax', unit($value)) != null;
}

// @return {boolean}
@function is-absolute-length($value) {
  @return is-number($value) and index('cm' 'mm' 'in' 'px' 'pt' 'pc', unit($value)) != null;
}

// @return {boolean}
@function is-percentage($value) {
  @return is-number($value) and unit($value) == '%';
}

// @return {boolean}
@function is-length($value) {
  @return is-relative-length($value) or is-absolute-length($value);
}

// @return {boolean}
@function is-resolution($value) {
  @return is-number($value) and index('dpi' 'dpcm' 'dppx', unit($value)) != null;
}

// @return {boolean}
@function is-position($value) {
  @return is-length($value) or is-percentage($value) or index('top' 'right' 'bottom' 'left' 'center', $value) != null;
}

// @return {boolean}
@function is-map($value){
  @return type-of($value) == 'map';
}

// Split a string into a list of strings
//
// @param  {string} $string The string to be split
// @param  {string} $delimiter The boundary string
// @return {list} the result list
@function explode($string, $delimiter) {
  $result: ();
  @if $delimiter == "" {
    @for $i from 1 through str-length($string) {
      $result: append($result, str-slice($string, $i, $i));
    }
    @return $result;
  }
  $exploding: true;
  @while $exploding {
    $d-index: str-index($string, $delimiter);
    @if $d-index {
      @if $d-index > 1 {
        $result: append($result, str-slice($string, 1, $d-index - 1));
        $string: str-slice($string, $d-index + str-length($delimiter));
      } @else if $d-index == 1 {
        $string: str-slice($string, 1, $d-index + str-length($delimiter));
      } @else {
        $result: append($result, $string);
        $exploding: false;
      }
    } @else {
      $result: append($result, $string);
      $exploding: false;
    }
  }
  @return $result;
}

// Join list elements to form a single string
//
// @param  {string} $pieces The list of strings to implode
// @param  {string} $glue The "glue" between elements in the result string
// @return {string} The result string
@function implode($pieces, $glue: "") {
  $result: null;
  @for $i from 1 through length($pieces) {
    $piece: nth($pieces, $i);
    @if type-of($piece) == list {
      $result: unquote("#{$result}#{$glue}#{implode($piece, $glue)}");
    } @else {
      $result: unquote("#{$result}#{$glue}#{$piece}");
    }
  }
  @if $result != null {
    $result: str-slice($result, str-length($glue) + 1, -1);
  }
  @return $result;
}

// @param  {List} $haystack
// @param  {Mixed} $needle
// @return {boolean}
@function contains($haystack, $needle) {
  @return not not index($haystack, $needle);
}
