@use '../functions' as *;

// @debug strip-unit('20px');

@mixin make-box($type, $value, $boxIndex, $screenName:null, $screenIndex:null) {
  @if ($type != 'stripunits') {
    // strip the unit
    $suffix: if(conf('box.stripunits'), strip-unit($value), $value);

    // escape percentages
    $suffix: if(is-percentage($value), $suffix + '\\%', $suffix);

    // create the prefix
    $prefix: if($screenName, $screenName+'\\:', '');

    @if $type == 'margin' {
      @include margin($prefix, $suffix, $value);
    } @else if $type == 'padding' {
      @include padding($prefix, $suffix, $value);
    } @else if $type == 'border-width' {
      @include border-width($prefix, $suffix, $value);
    } @else if $type == 'border-radius' {
      @include border-radius($prefix, $suffix, $value);
    } @else if $type == 'width' {
      @include width($prefix, $suffix, $value);
    } @else if $type == 'height' {
      @include height($prefix, $suffix, $value);
    } @else if $type == 'positions' {
      @include positions($prefix, $suffix, $value);
    } @else if $type == 'z-index' {
      @include z-index($prefix, $suffix, $value);
    } @else if $type == 'shadow' {
      @include shadow($prefix, $suffix, $value, $boxIndex);
    } @else {
      @warn 'Type "' + $type + '" is not valid.';
    }
  }
}

@mixin margin($prefix, $suffix, $value) {
  .#{$prefix}m-#{$suffix}  { margin: #{$value}; }
  .#{$prefix}mt-#{$suffix} { margin-top: #{$value}; }
  .#{$prefix}mr-#{$suffix} { margin-right: #{$value}; }
  .#{$prefix}mb-#{$suffix} { margin-bottom: #{$value}; }
  .#{$prefix}ml-#{$suffix} { margin-left: #{$value}; }
  .#{$prefix}mv-#{$suffix} {
    @extend .#{$prefix}mt-#{$suffix};
    @extend .#{$prefix}mb-#{$suffix};
  }
  .#{$prefix}mh-#{$suffix} {
    @extend .#{$prefix}ml-#{$suffix};
    @extend .#{$prefix}mr-#{$suffix};
  }
}
@mixin padding($prefix, $suffix, $value) {
  .#{$prefix}p-#{$suffix}  { padding: #{$value}; }
  .#{$prefix}pt-#{$suffix} { padding-top: #{$value}; }
  .#{$prefix}pr-#{$suffix} { padding-right: #{$value}; }
  .#{$prefix}pb-#{$suffix} { padding-bottom: #{$value}; }
  .#{$prefix}pl-#{$suffix} { padding-left: #{$value}; }
  .#{$prefix}pv-#{$suffix} {
    @extend .#{$prefix}pt-#{$suffix};
    @extend .#{$prefix}pb-#{$suffix};
  }
  .#{$prefix}ph-#{$suffix} {
    @extend .#{$prefix}pl-#{$suffix};
    @extend .#{$prefix}pr-#{$suffix};
  }
}
@mixin border-width($prefix, $suffix, $value) {
  .#{$prefix}b-#{$suffix}  { border-width: #{$value}; }
  .#{$prefix}bt-#{$suffix} { border-top-width: #{$value}; }
  .#{$prefix}br-#{$suffix} { border-right-width: #{$value}; }
  .#{$prefix}bb-#{$suffix} { border-bottom-width: #{$value}; }
  .#{$prefix}bl-#{$suffix} { border-left-width: #{$value}; }
  .#{$prefix}bv-#{$suffix} {
    @extend .#{$prefix}bt-#{$suffix};
    @extend .#{$prefix}bb-#{$suffix};
  }
  .#{$prefix}bh-#{$suffix} {
    @extend .#{$prefix}bl-#{$suffix};
    @extend .#{$prefix}br-#{$suffix};
  }
}
@mixin border-radius($prefix, $suffix, $value) {
  .#{$prefix}rad-#{$suffix}  { border-radius: #{$value}; }
  .#{$prefix}radtl-#{$suffix}  { border-top-left-radius: #{$value}; }
  .#{$prefix}radtr-#{$suffix}  { border-top-right-radius: #{$value}; }
  .#{$prefix}radbl-#{$suffix}  { border-bottom-left-radius: #{$value}; }
  .#{$prefix}radbr-#{$suffix}  { border-bottom-right-radius: #{$value}; }
}
@mixin width($prefix, $suffix, $value) {
  .#{$prefix}w-#{$suffix}    { width: #{$value}; }
  .#{$prefix}minw-#{$suffix} { min-width: #{$value}; }
  .#{$prefix}maxw-#{$suffix} { max-width: #{$value}; }
}
@mixin height($prefix, $suffix, $value) {
  .#{$prefix}h-#{$suffix}    { height: #{$value}; }
  .#{$prefix}minh-#{$suffix} { min-height: #{$value}; }
  .#{$prefix}maxh-#{$suffix} { max-height: #{$value}; }
}
@mixin positions($prefix, $suffix, $value) {
  .#{$prefix}top-#{$suffix}    { top: #{$value}; }
  .#{$prefix}right-#{$suffix}  { right: #{$value}; }
  .#{$prefix}bottom-#{$suffix} { bottom: #{$value}; }
  .#{$prefix}left-#{$suffix}   { left: #{$value}; }
}
@mixin z-index($prefix, $suffix, $value) {
  .#{$prefix}z-#{$suffix} { z-index: #{$value}; }
}
@mixin shadow($prefix, $suffix, $value, $index) {
  .#{$prefix}bs-#{$index} { box-shadow: #{$value}; }
}
