@use 'states';
@use '../functions' as *;

@mixin make-colors($palette: null, $gradients: null, $variants: null) {
  // applies for border classes
  [class*="-border"] {
    border-style: solid;
    border-width: 0;
  }

  @if ($palette) {
    @each $color, $hex in $palette {
      // base variant
      @include color($color, '500');

      // some colors don't have variants
      @if index(('transparent','white','black'), $color) == null {
        @each $variant, $percent in $variants {
          @include color($color, $variant);
        }
      }
    }
  } @else {
    @warn "No color palette defined";
  }

  @if ($gradients) {
    @each $value in $gradients {
      $index: index($gradients, $value) - 1;
      @include gradient($index, $value);
    }
  } @else {
    @warn "No gradients defined";
  }
}

@mixin text($color, $variant: '500') {
  $variantText: #{if($variant != '500', '\\:'+$variant, '')};

  .#{$color+''}-text#{$variantText} {
    color: get-color($color, $variant);
  }

  @include states.on-all-states(#{$color+'-text'+$variantText}) {
    @extend .#{$color+'-text'+$variantText};
  }
}

@mixin fill($color, $variant: '500') {
  $variantText: #{if($variant != '500', '\\:'+$variant, '')};

  .#{$color+''}-fill#{$variantText} {
    background-color: get-color($color, $variant);
  }

  @include states.on-all-states(#{$color+'-fill'+$variantText}) {
    @extend .#{$color+'-fill'+$variantText};
  }
}

@mixin border($color, $variant: '500') {
  $variantText: #{if($variant != '500', '\\:'+$variant, '')};

  .#{$color+''}-border#{$variantText} {
    border-color: get-color($color, $variant);
  }

  @include states.on-all-states(#{$color+'-border'+$variantText}) {
    @extend .#{$color+'-border'+$variantText};
  }
}

@mixin color($color, $variant: '500') {
    @include text($color, $variant);
    @include fill($color, $variant);
    @include border($color, $variant);
}

@mixin gradient($suffix, $value) {
  .grad-#{$suffix} {
    background: $value;
  }

  @include states.on-all-states(#{'grad-'+$suffix}) {
    @extend .#{'grad-'+$suffix};
  }
}
