@use '../functions' as *;

@mixin make-typography-base() {
  @include import-google-fonts(conf('typography.google-fonts'));
  @include make-typography-body();
}

// @param  {string} $type
// @param  {string} $key
// @param  {string} $value
@mixin make-typography-utilities($type, $key, $value, $screenName:null, $screenIndex:null) {
    // create the prefix
    $prefix: if($screenName, $screenName+'\\:', '');

    @if $type == 'font-family' {
      @include font-family($key, $value, $prefix);
    } @else if $type == 'font-size' {
      @include font-size($key, $value, $prefix);
    } @else if $type == 'font-weight' {
      @include font-weight($key, $prefix);
    } @else if $type == 'font-style' {
      @include font-style($key, $prefix);
    } @else if $type == 'line-height' {
      @include line-height($key, $value, $prefix);
    } @else if $type == 'word-spacing' {
      @include word-spacing($key, $value, $prefix);
    } @else if $type == 'letter-spacing' {
      @include letter-spacing($key, $value, $prefix);
    }
}

@mixin make-typography-body() {
  body {
    font-size: #{conf('typography.font-size.base')};
    font-family: #{conf('typography.font-family.base')};
    line-height: #{conf('typography.line-height.base')};
    word-spacing: #{conf('typography.word-spacing.base')};
    letter-spacing: #{conf('typography.letter-spacing.base')};
  }
}

// @param  {string} $name
// @param  {integer} $value
@mixin font-family($name, $value, $prefix: null) {
  .#{$prefix}ff-#{$name} {
    font-family: #{$value};
  }
}

// @param  {string} $name
// @param  {integer} $value
@mixin font-size($name, $value, $prefix: null) {
  .#{$prefix}fs-#{$name} {
    font-size: #{$value};
  }
}

// @param  {integer} $weight
@mixin font-weight($weight, $prefix: null) {
  .#{$prefix}fw-#{$weight} {
    font-weight: #{$weight};
  }
}

// @param  {string} $style
@mixin font-style($style, $prefix: null) {
  .#{$prefix}fs-#{$style} {
    font-style: #{$style};
  }
}

// @param  {string} $name
// @param  {integer} $value
@mixin line-height($name, $value, $prefix: null) {
  .#{$prefix}lh-#{$name} {
    line-height: #{$value};
  }
}

// @param  {string} $name
// @param  {integer} $value
@mixin word-spacing($name, $value, $prefix: null) {
  .#{$prefix}ws-#{$name} {
    word-spacing: #{$value};
  }
}

// @param  {string} $name
// @param  {integer} $value
@mixin letter-spacing($name, $value, $prefix: null) {
  .#{$prefix}ls-#{$name} {
    letter-spacing: #{$value};
  }
}

// Import google font generating the @import rule
//
// @param  {string} $font
// @param  {list} $weights: ()
@mixin import-google-font($font, $weights: (400)) {
  $_weights: implode($weights, ';');
  @import url('https://fonts.googleapis.com/css2?family=#{unquote($font)}:wght@#{$_weights}&display=swap');
}

// @param  {list} $weights: ()
@mixin import-google-fonts($fonts: ()) {
  @each $font, $weight in $fonts {
    @include import-google-font($font, $weight);
  }
}
