@use '../functions' as *;

// @param  {string} $name
// @param  {integer} $value
@mixin font-family($name, $value) {
  .ff-#{$name} {
    font-family: #{$value};
  }
}

// @param  {string} $name
// @param  {integer} $value
@mixin font-size($name, $value) {
  .fs-#{$name} {
    font-size: #{$value};
  }
}

// @param  {integer} $weight
@mixin font-weight($weight) {
  .fw-#{$weight} {
    font-weight: #{$weight};
  }
}

// @param  {string} $style
@mixin font-style($style) {
  .fs-#{$style} {
    font-style: #{$style};
  }
}

// @param  {string} $name
// @param  {integer} $value
@mixin line-height($name, $value) {
  .lh-#{$name} {
    line-height: #{$value};
  }
}

// @param  {string} $name
// @param  {integer} $value
@mixin word-spacing($name, $value) {
  .ws-#{$name} {
    word-spacing: #{$value};
  }
}

// @param  {string} $name
// @param  {integer} $value
@mixin letter-spacing($name, $value) {
  .ls-#{$name} {
    letter-spacing: #{$value};
  }
}

// Import google font generating the @import rule
//
// @param  {string} $font
// @param  {list} $weights: ()
@mixin import-google-font($font, $weights: (400)) {
  $_weights: implode($weights, ';');
  @import url('https://fonts.googleapis.com/css2?family=#{unquote($font)}:wght@#{$_weights}&display=swap');
}

// @param  {list} $weights: ()
@mixin import-google-fonts($fonts: ()) {
  @each $font, $weight in $fonts {
    @include import-google-font($font, $weight);
  }
}
