@use '../mixins/grid';
@use '../functions' as *;

$_gutter:     conf('grid.gutter');
$_gutterHalf: $_gutter / 2;
$_columns:    conf('grid.columns');
$_screens:    conf('grid.screens');

@include grid.container($_gutterHalf);
@include grid.row($_gutterHalf);
@include grid.columns($_gutterHalf);

@include grid.all-screen-min() using ($screenName, $screenWidth) {
  @include grid.column-classes($screenName, $screenWidth, $_columns, $_gutter);
}
