@use '../mixins/typography';
@use '../functions' as *;

// Setup the base typography (all settings are optional)
body {
  font-size: #{conf('typography.font-sizes.base')};
  font-family: #{conf('typography.font-families.base')};
  line-height: #{conf('typography.line-heights.base')};
  word-spacing: #{conf('typography.word-spacings.base')};
  letter-spacing: #{conf('typography.letter-spacings.base')};
}

@each $name, $value in conf('typography.font-families') {
  @include typography.font-family($name, $value);
}

@each $name, $value in conf('typography.font-sizes') {
  @include typography.font-size($name, $value);
}

@each $weight in conf('typography.font-weights') {
  @include typography.font-weight($weight);
}

@each $style in conf('typography.font-styles') {
  @include typography.font-style($style);
}

@each $name, $value in conf('typography.line-heights') {
  @include typography.line-height($name, $value);
}

@each $name, $value in conf('typography.word-spacings') {
  @include typography.letter-spacing($name, $value);
}

@each $name, $value in conf('typography.letter-spacings') {
  @include typography.word-spacing($name, $value);
}
